
.notion-button{
    background: rgb(253, 72, 0);
}
a:hover .submenu{
    display: block;
  }
.orange-text{
    color: rgb(253, 72, 0);
}
.newsletter{
    background: rgba(128, 128, 128, 0.377);
}
.drawing{
    background: rgb(28, 29, 31);
}
.right-col{
    
}
  